@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.MuiFormHelperText-root.Mui-error {
  margin-left: 0;
}

.MuiInputBase-root.MuiOutlinedInput-root {
  border-radius: 10px !important;
  background-color: white !important;
}

.css-13cymwt-control {
  border-radius: 10px !important;
  padding: 2px 0 !important;
}
